:root {
  --color-1: #ebe6d1;
  --color-2: #ebe6d1a7;
}

body {
  font-family: Arial;
  color: var(--color-1);
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background {
  background-image: url(https://i.pinimg.com/1200x/2e/18/26/2e1826e208db124512de8617d47027fd.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8%;
  border-bottom: 3px solid var(--color-1);
}
#header .title {
  font-family: "Abril Fatface", serif;
  font-size: 7vh;
}
#header a {
  text-decoration: none;
}
#header .button {
  color: var(--color-1);
  font-size: 3vh;
  height: fit-content;
  border: 2px solid var(--color-1);
  border-radius: 10px;
  padding: 5px;
}
#signup-button {
  margin-left: auto;
  margin-right: 2vh;
}
#main-screen {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 4vh;
}
.title-group {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  border: 5px solid black;
  border-radius: 25px;
  padding: 3vh;
  color: black;
  gap: 10px;
}
.title-group .title {
  font-family: "Abril Fatface", serif;
  font-size: 5vh;
}
.title-group .sub-title {
  font-size: 3vh;
}
.title-group .info {
  font-size: 3vh;
  text-align: center;
  margin: 0;
}
.movie-section {
  width: 100%;
}
.movie-section .title {
  font-size: 4vh;
}