:root {
  --color-1: #ebe6d1;
  --color-2: #ebe6d1a7;
}

body {
  font-family: Arial;
  color: var(--color-1);
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background {
  background-image: url(https://i.pinimg.com/1200x/2e/18/26/2e1826e208db124512de8617d47027fd.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}
#header {
  background: linear-gradient(black, rgb(124, 0, 0), black);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8%;
  border-bottom: 3px solid var(--color-1);
}
#header .title {
  font-family: "Abril Fatface", serif;
  font-size: 7vh;
}
#welcome-title-container{
  font-family: "Abril Fatface", serif;
  margin-left: auto;
  margin-right: 1vh;
  font-size: 3vh;
  display: flex;
  flex-direction: row;

  gap: 1vh;
}
#header a {
  text-decoration: none;
}
#header .button {
  color: var(--color-1);
  background-color: transparent;
  font-size: 2.3vh;
  height: fit-content;
  border: 0.3vh solid var(--color-1);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer; 
}
#signup-button {
  margin-right: 1vh;
}
#main-screen {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 4vh;
}
.title-group {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  border: 5px solid black;
  border-radius: 25px;
  padding: 3vh;
  color: black;
  gap: 10px;
}
.title-group .title {
  font-family: "Abril Fatface", serif;
  font-size: 5vh;
}
.title-group .sub-title {
  font-size: 3vh;
}
.title-group .info {
  font-size: 3vh;
  text-align: center;
  margin: 0;
}
.movie-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2vh;
  width: 100%;
  margin-top: 10vh;
}
.movie-section .title {
  font-size: 4vh;
}
.movies-div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 3vh;
}
.movieImg{
  height: 30vh;
  width: 20vh;
  border-radius: 20px;
  box-shadow:0 0 30px #000000;
}
.movieImg:hover{
  transform: translateY(-1vh) scale(1.02);
}
#addA {
  color: white;
  background-color: #c49a4b;
  text-decoration: none;
  width: 6vh;
  height: 6vh;
  border-radius: 6vh;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 3vh;
  bottom: 3vh;
  transition: transform 0.18s ease;
}
.plusIcon{
  width:  3vh;
  height: 3vh;
  margin: 1.5vh;
  
}