    body {
      background-image: url(https://i.pinimg.com/1200x/2e/18/26/2e1826e208db124512de8617d47027fd.jpg);
      background-size: cover;       
      background-position: center; 
      background-repeat: no-repeat; 
      height: 100vh;
      margin: 0;
      font-family: Arial;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .box {
      background: rgba(255, 255, 255, 0.5);
      padding: 50px;
      border-radius: 15px;
      width: 430px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    input {
      width: 95%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #a11414;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background: #5a0c0c;
      font-size: 24px;
    ;
    }

    a {
      display: block;
      margin-top: 15px;
      color: #000000;
      text-decoration: none;
      font-size: 14px;
    }

    #errorDiv {
        color:red; 
        margin-top:10px;
    }
