body {
  margin: 0;
  background-color: black;
}

#containerDiv {
  height: 100vh;
  position: relative;
}

#backgroundDiv {
  position: fixed;
  width: 639.5px;
  height: 100%;
  z-index: 15;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#backgroundImg {
  position: fixed;
  height: 100vh;
  width: auto;
  display: block;

}

#infoDiv {
  position: fixed;
  margin-left: 700px;
  margin-top: 30px;
  top: 0;
}

#title {
  color: white;
  font-size: 100px;
  text-shadow: 0 0 30px #fff;
}

#description {
  color: aliceblue;
  font-size: 40px;
  margin-top: 27px;
}

#Duration {
  color: aliceblue;
  font-size: 30px;
  margin-top: 27px;
}

#Age {
  color: aliceblue;
  font-size: 30px;
  margin-top: 27px;
  margin-left: 30px;
}

#TicketPrice {
  color: aliceblue;
  font-size: 40px;
  margin-top: 27px;
}

#TicketPriceDiv{
  color: aliceblue;
  font-size: 30px;
  margin-top: 300px;
}

#TotalPrice {
  color: aliceblue;
  font-size: 40px;
  margin-top: 27px;
}

#TotalPriceDiv{
  color: aliceblue;
  font-size: 30px;
  margin-top: 10px;
}

.ChairButton {
  width: 26px;
  height: 69px;
  padding: 26px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: beige;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.ChairButton:hover {
  background: rgb(122, 122, 111);
  transform: translateY(-4px) scale(1.02);
}

.chosenChair {
  background: rgb(122, 122, 111);
}


.rowDiv {
  display: flex;
  justify-content: center;
  gap: 12px;
}

#ChairDiv {
  margin-top: -352px;
  margin-left: 400px;
  width: 620px;
  background-color: rgba(240, 243, 230, 0.678);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  padding-bottom: 52px;
  box-shadow: 0 0 30px #fff;
}

#SubmitButton{
width: 300px;
height: 70px;
font-size: 50px;
margin-top: -52px;
margin-left: 20px;
border: 0px;
border-radius: 30px;
background: rgba(205, 207, 196);
box-shadow: 0 0 30px #fff;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal.show {
    display: flex;
}

.modalContent {
    background: rgba(205, 207, 196);
    width: 600px;
    height: 375px;

    padding: 30px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    box-shadow: 0 20px 60px rgba(255, 255, 255, 0.4);
}

.modalContent h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.modalContent p {
    font-size: 25px;
    margin: 10px 0;
}

/* כפתור X */
.closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;

    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.closeBtn:hover {
    color: rgb(105, 9, 9);
}