:root {
  --color-1: #ebe6d1;
  --color-2: #ebe6d1a7;
  --color-3: #f0ede6;
  --color-4: #a2a099;
  --color-5: #5f5e5b;

}

body {
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.back-button {
  text-decoration: none;
  position: absolute;
  top: 2vh;
  right: 2vh;
  color: var(--color-3);
  font-size: 3vh;
  height: fit-content;
  border: 2px solid var(--color-3);
  border-radius: 10px;
  padding: 5px;
  z-index: 100000;
}
#containerDiv {
  flex: 1;
  position: relative;
  height: 100%;
  z-index: 0;
}
#backgroundImg {
  height: 100vh;
  width: auto;
  display: block;
  z-index: 0;
}
#backgroundDiv {
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 30%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
}

#mainContent {
  color: aliceblue;
  background-color: transparent;
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5vh;
  position: relative;
}
#movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2vh;
}
#title {
  color: white;
  font-size: 7vh;
  text-shadow: 0 0 3vh #ffffffb3;
  align-self: flex-start;
}
#movieDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3.5vh;
  font-size: 2.5vh;
}
#description {
  margin: 0 auto;
  width: 75%;
  font-size: 2.3vh;
  text-align: center;
}
#movieChairs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1vh;
}
#chairsTitle {
  font-size: 3vh;
  text-shadow: 0 0 3vh #ffffffb3;
}
#instructions {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 1vh;
}
.instructionsTitle {
  font-size: 2vh;
  margin-right: 2vh;
}
.dotIcon {
  width:  2vh;
  height: 2vh;
}
#avaliableIcon {
  fill: var(--color-3);
  stroke: var(--color-3);
} 
#selectedIcon {
  fill: var(--color-4);
  stroke: var(--color-4);
}
#notAvaliableIcon {
  fill: var(--color-5);
  stroke: var(--color-5);
}
#chairDiv {
  display: flex;;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
  padding: 1.5vh 2vh 5vh 2vh;
  margin: 1.5vh 0;
  background-color: rgba(238, 236, 233, 0.781);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
   border-top-left-radius: 1.5vh;
  border-top-right-radius: 1.5vh;
  box-shadow: 0 0 25px #ffffffcc;
}
.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 1.5vh;
}
.rowNum {
  padding-top: 1.5vh;
  padding-right: 1vh;
  font-size: 2vh;
  font-weight: 700;
  color: black;
}
.chairButton {
  width: 6vh;
  height: 6vh;
  padding: 1vh 0 0 0;
  font-size: 1.5vh;
  font-weight: 500;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: var(--color-3);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 12px #00000023 ;
  transition: all .15s ease;
}
.chairButton:hover {
  background: var(--color-4);
  scale: 1.1;
}
.chosenChair {
  background: var(--color-4);
  scale: 1.1;
}
.chairButton.notAvaliable {
  color: rgb(44, 44, 44);
  background-color: var(--color-5);
  scale: 1;
}
.chairButton.notAvaliable:hover {
  background: var(--color-5);
  scale: 1;
}
#screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  width: 50%;
  height: 2.5vh;
  color: var(--color-3);
  font-size: 2.5vh;
  background-color: var(--color-5);
  border-radius: 1vh;
}
#movieTickets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#prices {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1vh;
  font-size: 3.5vh;
}
#buyButton {
  background-color: transparent;
  border: .25vh solid white;
  border-radius: 2.5vh;
  cursor: pointer;
  color: white;
  padding: 1vh;
  margin: 0;
  font-size: 4vh;
  box-shadow: .4vh .4vh white;
  transition: all .1s ease;
}
#buyButton:active {
  color: rgb(184, 184, 184);
  border: .25vh solid rgb(184, 184, 184);
  box-shadow: 0 0 rgb(184, 184, 184);
  transform: translate(.4vh, .4vh);
}

.modalBackground {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background-color: var(--color-5);
  box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5) ;
  border-radius: 7vh;
  padding: 5vh;
  width:  40%;
  height: 35%;
  color: var(--color-3);
}
.closeButton {
  position: absolute;
  top: 1.5vh;
  right: 3vh;
  padding: 0;
  font-size: 6vh;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.closeButton:hover {
  color: var(--color-2);
}
.modal span {
  font-size: 7vh;
}
.modal p {
  font-size: 3vh;
  text-align: center;
}
