body {
  margin: 0;
  background-color: black;
}

#containerDiv {
  height: 100vh;
  position: relative;
}

#backgroundDiv {
  position: fixed;
  width: 639.5px;
  height: 100%;
  z-index: 15;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#backgroundImg {
  position: fixed;
  height: 100vh;
  width: auto;
  display: block;

}

#infoDiv {
  position: fixed;
  margin-left: 700px;
  margin-top: 30px;
  top: 0;
}

#title {
 color: white;
 font-size: 100px;
 text-shadow: 0 0 30px #fff ;
}

#description{
  color:aliceblue;
  font-size: 40px;
  margin-top: 27px;
}

#Duration{
  color:aliceblue;
  font-size: 30px;
  margin-top: 27px;
}

#Age{
  color:aliceblue;
  font-size: 30px;
  margin-top: 27px;
}

#TicketPrice{
  background-color: beige;
  color:rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 40px;
  margin-top: 27px;
 ;
}

#c1 {
  width: 10px;
  height: 53px;
  margin-left: 700px;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: beige;
  border: none;
  cursor: pointer;
  margin-top: 27px;
}

.ChairButton{
  width: 10px;
  height: 53px;
  margin-left: 10px;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: beige;
  border: none;
  cursor: pointer;
  margin-top: 27px;
}

.ChairButton:hover {
  background:rgb(187, 187, 168);
}

